@use "mixins" as *;
@use "var" as *;

.category {
  background: $lightBlue;
  padding: 35px 0 0;

  @include desktop {
    padding: 116px 0 134px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 0 20px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-card {
      display: inline-block;
      text-decoration: none;
      flex-basis: calc(50% - 9px);
      color: $midnight;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      margin-bottom: 49px;

      &:hover {
        @include hover {
          text-decoration: underline;
        }
      }

      @include tablet {
        flex-basis: calc(33% - 9px);
      }

      @include desktop {
        flex-basis: calc(12% - 9px);
        margin-bottom: 0;
      }

      &-content {
        border-radius: 12px;
        background: #FDFDFD;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
      }
    }
  }
}