.link {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  text-indent: 103%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;

  &_vk {
    background-image: url(../images/ic-vk.svg);
  }
  
  &_tiktok {
      background-image: url(../images/ic-tiktok.svg);
  }
  
  &_instagram {
      background-image: url(../images/ic-instagram.svg);
  }

  &_telegram {
      background-image: url(../images/ic-telegram.svg);
  }

  &_youtube {
      background-image: url(../images/ic-youtube.svg);
  }
}

